# Builds React Native app as a webpage and deploys it to GitHub Pages
name: Deploy Web

on:
  workflow_dispatch:
  push:
    branches: [ deploy-web ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUBLIC_URL: "/ReactNativeCardinalBoticsApp"
      NODE_ENV: "production"
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install Dependencies
        run: npm install --legacy-peer-deps --save-dev --include=dev

      - name: Setup Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          packager: npm

      - name: Build Web App with Expo
        run: npx expo export:web

      - name: Modify build
        run: |
          cp assets/web-privacy-policy.html web-build/privacy-policy.html
          cp web-build/index.html web-build/404.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: gh-pages
          folder: web-build
